---
name: listings
url: /
animationIn: hingeInFromMiddleY bounceInOut
animationOut:  zoomOut bounceInOut
---

<div class="grid-content small-12">
	<h3>Our Amazing Hotels</h3>
	<h3 class="subheader">Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue.
	</h3>
</div>
<div  class="grid-block small-12 small-up-2 medium-up-2 large-up-3"
      ng-init="listings = [
      {label: 'Best Western', class: 'alert', location:'Cortona, Italy'} ,
      {label: 'Best Western', class: 'primary', location:'Sabi Sands, South Africa'},
      {label: 'Best Western', class: 'dark', location:'Munich, Germany'},
      {label: 'Best Western', class: 'success', location:'Hawaii'},
      {label: 'Best Western', class: 'warning', location:'Agra, India'},
      {label: 'Best Western', class: 'alert', location:'The Oriental, Bangkok'},
      {label: 'Best Western', class: 'none', location:'Reims, France'},
      {label: 'Best Western', class: 'success', location:'Antigua'},
      {label: 'Best Western', class: 'warning', location:'Budapest'},
      {label: 'Best Western', class: 'alert', location:'Cape Town, South Africa'},
      {label: 'Best Western', class: 'none', location:'Chiang Mai, Thailand'},
      {label: 'Best Western', class: 'success', location:'Moremi Game Reserve, Botswana'},
      {label: 'Best Western', class: 'warning', location:'Tanzania'},
      {label: 'Best Western', class: 'alert', location:'Soufriere, St Lucia'},
      {label: 'Best Western', class: 'none', location:'Zihuatanejo, Mexico'},
      {label: 'Best Western', class: 'success', location:'Masai Mara, Kenya'},
      {label: 'Best Western', class: 'warning', location:'Amman, Jordan'},
      {label: 'Best Western', class: 'alert', location:'Cortona, Italy'}
      ]">

  <div class="grid-content" ng-repeat="listing in listings">
    <div class="{{listing.class}} card">
      <img src="http://placeimg.com/640/480/arch">
      <div class="card-divider">
       {{listing.label}}
      </div>
      <div class="card-section">
        <h4>{{listing.location}}</h4>
        <p>Consistently rated as one of the great hotels of the world.</p>
      </div>
    </div>
  </div>


</div> 